*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background: #39f;
  color: #fff;
  text-shadow: none;
}

:root {
  --clr-primary1: #f2761b;
  --clr-primary2: #f99650;
  --clr-neutral-dark1: #121212;
  --clr-neutral-dark2: #0D0D0E;
  --clr-neutral-dark3: #1C1C1C;
  --clr-neutral-dark4: #6A6A6A;
  --clr-neutral-light2: #B9B9B9;
  --clr-neutral-light1: #FAFAFA;
  --page-margin: 20px;
}

html {
  min-height: 100vh;
  text-size-adjust: 100%;
}

body {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Inter";
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  color: var(--clr-neutral-dark1);
  letter-spacing: -0.5px;
}

h1, h2, h3 {
  font-weight: 600;
  line-height: 120%;
}

h1, h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 500;
  color: var(--clr-neutral-dark4);
}

#hamburger {
  width: 25px;
  height: 25px;
  position: relative;
  flex-wrap: wrap;
  display: flex;
  place-items: center;
  cursor: pointer;
}
#hamburger span {
  width: 100%;
  height: 2.5px;
  background: var(--clr-primary1);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  transform-origin: center left;
}
#hamburger.open > span:nth-child(1) {
  -webkit-transform: rotate(-135deg) scaleX(0.95) rotateY(180deg);
  -moz-transform: rotate(-135deg) scaleX(0.95) rotateY(180deg);
  -o-transform: rotate(-135deg) scaleX(0.95) rotateY(180deg);
  transform: rotate(-135deg) scaleX(0.95) rotateY(180deg);
}
#hamburger.open > span:nth-child(2) {
  opacity: 0;
  transform: translateX(-100%);
}
#hamburger.open > span:nth-child(3) {
  -webkit-transform: rotate(135deg) scaleX(0.95) rotateY(180deg);
  -moz-transform: rotate(135deg) scaleX(0.95) rotateY(180deg);
  -o-transform: rotate(135deg) scaleX(0.95) rotateY(180deg);
  transform: rotate(135deg) scaleX(0.95) rotateY(180deg);
}

#site-header {
  padding: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  place-items: center;
}
#site-header .icon img {
  height: 32px;
}
#site-header .menu header .icon {
  display: none;
}
#site-header .menu section {
  display: none;
}
#site-header .menu svg {
  color: var(--clr-primary1);
}
#site-header .menu .box-wrapper {
  overflow: hidden;
}
#site-header .menu .box-wrapper section.accordion div ul li svg, #site-header .menu .box-wrapper section.accordion div ul li small {
  display: none !important;
}
#site-header .menu .box-wrapper section.buttons {
  padding: 0.75rem;
  border-top: 1px solid hsla(0deg, 0%, 76.9%, 0.560784);
}
#site-header .menu .box-wrapper section.buttons button {
  place-content: center;
  width: 100%;
}
#site-header .menu .box-wrapper section.buttons button + button {
  margin-top: 0.75rem;
}
#site-header .menu.open {
  position: fixed;
  z-index: 1000;
  background-color: rgba(122, 121, 120, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 8px 8px 0;
  backdrop-filter: blur(1.5px);
  overflow-y: auto;
}
#site-header .menu.open section {
  display: block;
  margin-top: 0.75rem;
}
#site-header .menu.open .box-wrapper {
  background-color: white;
  border-radius: 10px;
  /*#hamburger */
}
#site-header .menu.open .box-wrapper header {
  display: flex;
  padding: 12px;
  justify-content: space-between;
  place-items: center;
}
#site-header .menu.open .box-wrapper header .icon {
  display: flex;
  width: 32px;
  height: 32px;
}
#site-header .menu.open .box-wrapper section.accordion * {
  display: block;
  font-size: 0.875rem;
}
#site-header .menu.open .box-wrapper section.accordion div span:not(ul span)::after {
  content: "";
  background-clip: content-box;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/plus.svg);
  width: 1rem;
}
#site-header .menu.open .box-wrapper section.accordion div span {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  font-weight: 500;
}
#site-header .menu.open .box-wrapper section.accordion div ul:not(ul ul) {
  background-color: #f5f5f5;
  display: none;
  padding: 0 10px;
}
#site-header .menu.open .box-wrapper section.accordion div ul:not(ul ul) span {
  font-size: inherit;
  padding: 0;
}
#site-header .menu.open .box-wrapper section.accordion div ul:not(ul ul) li {
  padding: 0.75rem 0.5rem;
}
#site-header .menu.open .box-wrapper section.accordion div.active span:not(ul span)::after {
  background-image: url(../images/minus.svg);
}
#site-header .menu.open .box-wrapper section.accordion div.help-links li img {
  display: inline;
  margin-right: 20px;
}

#container {
  width: 100%;
  overflow: hidden;
}
#container section:not(#intro) {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}
#container section {
  position: relative;
  width: 100%;
  margin: 0px var(--page-margin);
}
#container section h3 {
  margin-bottom: 1.25rem;
}
#container section + section {
  margin-bottom: 2rem;
}
#container section header h2 {
  text-align: center;
  margin-bottom: 4rem;
}
#container section .overflow-x {
  margin-left: calc(-0.5 * var(--page-margin));
  margin-right: calc(-0.5 * var(--page-margin));
  background-color: var(--clr-neutral-light1);
  padding: 5.5rem calc(0.5 * var(--page-margin)) 3.75rem;
}
#container section .wrapper {
  display: grid;
  gap: 20px;
}
#container section .wrapper .bg-cards {
  overflow: hidden;
  box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.07);
  position: relative;
  border-radius: 20px;
  padding: 1.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  /*h3
  *  margin-bottom: 1.25rem */
}
#container section .wrapper .bg-cards p.top {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
#container section .wrapper .bg-cards div:nth-child(2) {
  display: flex;
  justify-content: center;
}
#container section .wrapper .bg-cards div:nth-child(2) img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
#container section .wrapper .bg-cards .btn {
  position: absolute;
  bottom: 1.5rem;
}
#container section .wrapper .bg-cards span:not(h3 span) {
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
  line-height: 140%;
  margin-bottom: 1.75rem;
}

section#intro {
  min-height: 80vh;
  position: relative;
  margin: 0;
  padding: 3.5rem var(--page-margin);
  display: flex;
}
section#intro #canva {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
section#intro .tagline {
  text-align: center;
  margin: auto;
  place-self: center;
}
section#intro .tagline .main {
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  place-content: center;
  column-gap: 1rem;
}
section#intro .tagline .main ul {
  display: inline;
}
section#intro .tagline .main ul li {
  list-style: none;
  display: none;
  animation: pulse 2000ms infinite ease-in-out;
}
section#intro .tagline .main ul li.active {
  display: inline;
}
section#intro .tagline .main ul li:nth-child(1) {
  color: var(--clr-primary1);
}
section#intro .tagline .main ul li:nth-child(2) {
  color: #f17076;
}
section#intro .tagline .main ul li:nth-child(3) {
  color: #2b70de;
}
section#intro .tagline .main ul li:nth-child(4) {
  color: var(--clr-primary1);
}
section#intro .tagline .main ul li:nth-child(5) {
  color: #5059d4;
}
section#intro .tagline .main ul li:nth-child(6) {
  color: #f17076;
}
section#intro .tagline .main ul li:nth-child(7) {
  color: #46c348;
}
section#intro .tagline .sub {
  padding: 40px 0;
  font-weight: 500;
}
section#intro .tagline button {
  margin: auto;
}

section#go h1 span, section#go h2 span, section#go h3 span {
  color: var(--clr-primary1);
}
section#go .wrapper .bg-cards:nth-child(1) {
  padding-bottom: 0;
  background-image: url(../images/shape-5.svg);
  background-color: white;
  background-position: right top;
  background-size: 200px;
}
section#go .wrapper .bg-cards:nth-child(1) p.top {
  color: var(--clr-neutral-dark1);
}
section#go .wrapper .bg-cards:nth-child(1) div:nth-child(2) {
  margin-top: 3rem;
}
section#go .wrapper .bg-cards:nth-child(1) div:nth-child(2) img {
  vertical-align: bottom;
}
section#go .wrapper .bg-cards:nth-child(2) {
  padding-bottom: 0;
  background-color: var(--clr-neutral-dark3);
  background-image: url(../images/shape-5.svg);
  background-blend-mode: luminosity;
  background-position: right top;
  background-size: 200px;
  color: white;
}
section#go .wrapper .bg-cards:nth-child(2) p.top {
  color: var(--clr-neutral-light2);
}
section#go .wrapper .bg-cards:nth-child(2) div:nth-child(2) {
  margin-top: 3rem;
  height: 300px;
}
section#go .wrapper .bg-cards:nth-child(2) div:nth-child(2) img {
  vertical-align: bottom;
}
section#go .wrapper .bg-cards:nth-child(3) {
  background-image: url(../images/shape-4.svg);
  background-size: 100%;
  /*span
  *  font-size: 1.5rem
  *  font-weight: 600
  *  line-height: 140%
  *  margin-bottom: 1.5rem */
}
section#go .wrapper .bg-cards:nth-child(3) .profiles {
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1.5rem;
}
section#go .wrapper .bg-cards:nth-child(3) .profiles div {
  display: block;
}
section#go .wrapper .bg-cards:nth-child(3) .profiles div img {
  width: 100px;
  border-radius: 1rem;
  transform-origin: center;
  transform: scale(1.1);
}
section#go .wrapper .bg-cards:nth-child(3) .profiles div:nth-child(1) {
  padding-top: 1rem;
}
section#go .wrapper .bg-cards:nth-child(3) .profiles div:nth-child(2) {
  padding-top: 2rem;
  z-index: 1;
}
section#go .wrapper .bg-cards:nth-child(4) {
  background-image: url(../images/shape-4.svg);
  background-size: 100%;
}
section#go .wrapper .bg-cards:nth-child(4) div {
  width: 80%;
  margin: auto;
  margin-bottom: 1.5rem;
}
section#go .wrapper .bg-cards:nth-child(4) div img {
  width: 100%;
}
section#go .wrapper .bg-cards img {
  max-width: 100%;
}
section#go button {
  margin: 2rem auto;
}

section#grow h1 span, section#grow h2 span, section#grow h3 span {
  color: #20ac7b;
}
section#grow .wrapper .bg-cards:nth-child(1) {
  padding-bottom: 0;
  background-image: url(../images/shape-5.svg);
  background-color: white;
  background-position: right top;
  background-size: 200px;
}
section#grow .wrapper .bg-cards:nth-child(1) p.top {
  color: var(--clr-neutral-dark1);
}
section#grow .wrapper .bg-cards:nth-child(1) h3 span {
  display: none;
  animation: pulse 5s linear infinite;
}
section#grow .wrapper .bg-cards:nth-child(1) h3 span.active {
  display: inline;
}
section#grow .wrapper .bg-cards:nth-child(1) div:nth-child {
  margin-top: 3rem;
}
section#grow .wrapper .bg-cards:nth-child(1) div:nth-child img {
  vertical-align: bottom;
}
section#grow .wrapper .bg-cards:nth-child(1) .dream-pic {
  position: relative;
  max-width: 282px;
  width: 100%;
  background-color: #e5edea;
  border-radius: 50%;
  margin: 1.5rem auto 110px;
}
section#grow .wrapper .bg-cards:nth-child(1) .dream-pic::before {
  width: 100%;
  display: block;
  content: "";
  padding-top: 100%;
}
section#grow .wrapper .bg-cards:nth-child(1) .dream-pic img {
  top: 0;
  left: 0;
  position: absolute;
  display: none;
  animation: pic-swap 5s ease-out infinite;
}
section#grow .wrapper .bg-cards:nth-child(1) .dream-pic img.active {
  display: block;
}
section#grow .wrapper .bg-cards:nth-child(2) {
  text-align: center;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  background-color: var(--clr-neutral-dark3);
  color: white;
}
section#grow .wrapper .bg-cards:nth-child(2) p.top {
  margin-top: 2rem;
  font-size: 1rem;
  color: #C3C3C3;
  font-weight: 400;
}
section#grow .wrapper .bg-cards:nth-child(2) span span {
  color: var(--clr-neutral-light2) !important;
}
section#grow .wrapper .bg-cards:nth-child(2) div {
  margin-top: 3rem;
  margin: auto;
  max-width: 500px;
}
section#grow .wrapper .bg-cards:nth-child(2) div img {
  vertical-align: bottom;
}
section#grow .wrapper .bg-cards:nth-child(3) {
  padding-top: 0;
  background-image: url(../images/shape-4.svg);
}
section#grow .wrapper .bg-cards:nth-child(3) div {
  width: 100%;
  margin: auto;
  margin-bottom: 1.5rem;
  max-width: 500px;
}
section#grow .wrapper .bg-cards:nth-child(3) div img {
  width: 100%;
  vertical-align: top;
}
section#grow .wrapper .bg-cards img {
  max-width: 100%;
}
section#grow button {
  margin: 2rem auto;
}

section#features {
  overflow: hidden;
}
section#features .header {
  display: flex;
  justify-content: space-between;
  place-items: center;
  padding: 2rem 0;
}
section#features .header span {
  font-size: 1.5rem;
  font-weight: 600;
}
section#features .header .slider-btn {
  display: flex;
}
section#features .header .slider-btn nav {
  margin: 0 0.75rem;
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  background-color: white;
  display: flex;
  place-items: center;
  place-content: center;
}
section#features .header .slider-btn nav img {
  opacity: 0.3;
}
section#features .header .slider-btn nav svg {
  display: none;
}
section#features .slider {
  color: white;
  display: flex;
  column-gap: 20px;
}
section#features .slider li {
  list-style: none;
}
section#features .slider li .slider-image {
  position: relative;
  width: 250px;
  height: 260px;
  padding: 20px;
}
section#features .slider li .slider-image span {
  font-size: 1.5rem;
}
section#features .slider li .slider-image h4 {
  margin-top: 0.5rem;
}
section#features .slider li .slider-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

section#certification, section#dreams {
  padding: 5rem 1.25rem;
  background-repeat: no-repeat;
}
section#certification p, section#dreams p {
  margin-bottom: 4rem;
}

section#certification {
  color: white;
  background-image: url(../images/shape-3.svg);
  background-color: var(--clr-neutral-dark1);
  background-position: center;
  background-size: auto 100%;
}
section#certification span {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 150%;
  color: var(--clr-neutral-dark4);
}
section#certification span span {
  display: inline;
  color: var(--clr-primary1);
}
section#certification button {
  background: transparent;
  color: var(--clr-neutral-dark4);
  border: 1px solid var(--clr-neutral-dark4);
}

section#dreams {
  padding-bottom: 7rem;
  background-image: url(../images/shape-2.svg);
  background-color: #FCECE5;
  background-position: right center;
  background-size: auto 100%;
}
section#dreams * {
  position: relative;
  z-index: 1;
}
section#dreams h3 span {
  color: var(--clr-primary1);
}
section#dreams div:nth-child(1) {
  max-width: 450px;
}
section#dreams div:nth-child(2) {
  position: absolute;
  object-fit: contain;
  right: 0;
  bottom: 0;
  z-index: 0;
}
section#dreams div:nth-child(2) img {
  width: 100%;
  vertical-align: bottom;
}
section#dreams button {
  z-index: 2;
  transform: translateX(0);
}

section#get-app {
  border-radius: 20px;
  color: white;
  padding: 2.5rem 2rem;
  background-color: var(--clr-neutral-dark1);
  background-image: url(../images/shape-1.svg);
  background-size: cover;
}
section#get-app div:nth-child(1) {
  max-width: 490px;
}
section#get-app .logo {
  margin-bottom: 1.25rem;
}
section#get-app h3 {
  color: var(--clr-neutral-dark4);
}
section#get-app h3 span {
  color: var(--clr-neutral-light2);
}
section#get-app p {
  margin-bottom: 1rem;
}
section#get-app button {
  margin-top: 2rem;
  letter-spacing: -0.8px;
}

#site-footer {
  padding: var(--page-margin);
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--clr-neutral-dark4);
}
#site-footer div {
  margin-bottom: 2rem;
}
#site-footer .links {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#site-footer .links div span {
  font-weight: 700;
  font-size: 1.125rem;
}
#site-footer .links div li, #site-footer .links div span {
  padding-bottom: 2rem;
}
#site-footer .links div ul li span {
  font-weight: 600;
  font-size: 1rem;
}
#site-footer .links .features-links {
  grid-column: 1/3;
}
#site-footer .links .features-links li {
  padding: 0;
}
#site-footer .links .features-links li li {
  padding-bottom: 2rem;
}
#site-footer .links .features-links ul:not(ul ul) {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#site-footer .links .help-links li img {
  margin-right: 1.25rem;
}
#site-footer .policies {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1.5rem;
}
#site-footer .disclaimer {
  font-size: 0.75rem;
  color: var(--clr-neutral-light2);
  line-height: 18px;
}
#site-footer .disclaimer span {
  display: block;
}
#site-footer .disclaimer span + span {
  margin-top: 2rem;
}

.links div span {
  color: var(--clr-neutral-dark1);
}
.links div li, .links div span {
  display: block;
}
.links div ul li {
  list-style: none;
}
.links div ul li span {
  color: var(--clr-neutral-light2);
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pic-swap {
  0% {
    transform: translateX(50%) scale(0.95);
    opacity: 0;
  }
  5% {
    transform: translateX(-12px) scale(0.95);
    opacity: 1;
  }
  95% {
    transform: translateX(-12px) scale(0.95);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) scale(0.95);
    opacity: 0;
  }
}
/*@keyframes text-swap
 *  0%
 *      content: "car"
 *  49.9%
 *      content: "car"
 *  50%
 *      content: "house"
 *  99.9%
 *      content: "house"
 *  100%
 *      content: "car" */
.btn {
  font-weight: 500;
  padding: 1rem 1.5rem;
  display: flex;
  place-items: center;
  font-family: inherit;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
}

.btn-sec2 {
  background-color: var(--clr-primary1);
}

.btn-main, .btn-sec, .btn-sec2 {
  color: white;
}
.btn-main svg, .btn-sec svg, .btn-sec2 svg {
  margin-left: 8px;
}

.btn-main, .btn-sec, .btn-sec3 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.btn-main {
  background-color: var(--clr-neutral-dark1);
}

.btn-sec {
  background-color: var(--clr-primary1);
}

.btn-sec3 {
  background-color: #fcf7f4;
  color: var(--clr-primary1);
}

@media screen and (min-width: 641px) {
  :root {
    --page-margin: 32px;
  }
  h1, h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.25rem;
  }
  #site-header .menu .box-wrapper section.accordion:nth-of-type(2) ul li {
    gap: 0 1rem;
    display: grid !important;
    grid-template-columns: auto 1fr;
  }
  #site-header .menu .box-wrapper section.accordion:nth-of-type(2) ul li svg {
    grid-row: 1/3;
    margin: auto;
  }
  #site-header .menu .box-wrapper section.accordion div ul li svg, #site-header .menu .box-wrapper section.accordion div ul li small {
    display: block !important;
  }
  #site-header .menu .box-wrapper section.accordion div ul li ul li {
    gap: 0 1rem;
    display: grid !important;
    grid-template-columns: auto 1fr;
  }
  #site-header .menu .box-wrapper section.accordion div ul li ul li svg {
    grid-row: 1/3;
    margin: auto;
  }
  #site-header .menu .box-wrapper section.accordion div ul li.social-icon {
    display: none;
  }
  #site-header .menu .box-wrapper section.accordion:nth-of-type(1) div.active ul:not(ul ul) {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }
  #container section + section {
    margin-bottom: 4rem;
  }
  #container section .wrapper .bg-cards {
    padding: 3rem;
  }
  #container section .wrapper .bg-cards p.top {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  #container section .wrapper .bg-cards span:not(h3 span) {
    font-size: 2rem;
  }
  section#go .wrapper .bg-cards:nth-child(1) div:nth-child(2) img {
    height: 376px;
  }
  section#grow .wrapper .bg-cards:nth-child(2) p.top {
    font-size: 1.25rem;
  }
  section#features .header span {
    font-size: 2.25rem;
  }
  section#certification span {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.8rem;
  }
  h3 {
    font-size: 3rem;
  }
  #container section .wrapper .bg-cards {
    padding: 3rem;
  }
  #container section .wrapper .bg-cards p.top {
    font-size: 1.25rem;
    margin-bottom: 4rem;
  }
  section#go .wrapper .bg-cards:nth-child(2) div:nth-child(2) {
    margin-top: 6rem;
    height: 376px;
  }
  section#go .wrapper .bg-cards:nth-child(3) .profiles {
    margin-bottom: 2rem;
  }
  section#go .wrapper .bg-cards:nth-child(3) .profiles div img {
    width: 120px;
  }
  section#go .wrapper .bg-cards:nth-child(4) div:nth-child(2) {
    width: 500px;
  }
  section#grow .wrapper .bg-cards:nth-child(2) div {
    margin-top: 4rem;
  }
  section#certification, section#dreams {
    padding: 5rem 2rem;
  }
  section#certification {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 1rem;
  }
  section#certification span {
    font-size: 2.25rem;
  }
  section#certification div {
    margin: 2.5rem 0;
  }
  section#get-app {
    padding: 5rem;
  }
  footer#site-footer .links {
    font-size: 1rem;
    grid-template-columns: 3fr repeat(2, 1fr);
  }
  footer#site-footer .links .features-links {
    grid-column: auto;
  }
  footer#site-footer .links .features-links ul:not(ul ul) {
    grid-template-columns: repeat(3, auto);
  }
}
@media screen and (min-width: 959px) {
  h1 {
    font-size: 4.6rem;
  }
  p.sub {
    font-size: 1.5rem;
  }
  #container section .wrapper {
    grid-template-columns: 1fr 1fr;
  }
  section#go .wrapper .bg-cards:nth-child(1), section#go .wrapper .bg-cards:nth-child(2) {
    grid-column: 1/3;
    display: flex;
    column-gap: 2.25rem;
  }
  section#go .wrapper .bg-cards:nth-child(1) div:nth-child(2), section#go .wrapper .bg-cards:nth-child(2) div:nth-child(2) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    display: flex;
    align-items: flex-end;
  }
  section#go .wrapper .bg-cards:nth-child(1) button, section#go .wrapper .bg-cards:nth-child(2) button {
    position: relative;
    margin: 3.5rem 0 0;
  }
  section#grow .wrapper .bg-cards:nth-child(1) {
    grid-column: 1/3;
    display: flex;
    column-gap: 5rem;
  }
  section#grow .wrapper .bg-cards:nth-child(1) .dream-pic {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    display: flex;
    align-items: flex-end;
  }
  section#grow .wrapper .bg-cards:nth-child(1) .dream-pic img {
    translate: 0 30px;
  }
  section#grow .wrapper .bg-cards:nth-child(1) button {
    position: relative;
    margin: 3.5rem 0 0;
  }
  @keyframes pic-swap {
    0% {
      transform: translateX(50%) scale(0.95);
      opacity: 0;
    }
    5% {
      transform: translateX(-30px) scale(0.95);
      opacity: 1;
    }
    95% {
      transform: translateX(-30px) scale(0.95);
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) scale(0.95);
    }
  }
}
@media screen and (min-width: 960px) {
  body {
    width: 100%;
  }
  #site-header {
    justify-content: stretch;
  }
  #site-header .menu {
    width: 100%;
    display: flex !important;
  }
  #site-header .menu header {
    display: none;
  }
  #site-header .menu .box-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 2fr auto;
    width: 100%;
  }
  #site-header .menu .box-wrapper section {
    display: block;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
  }
  #site-header .menu .box-wrapper section.accordion {
    margin: 0 1rem;
    display: flex;
  }
  #site-header .menu .box-wrapper section.accordion:nth-of-type(2) {
    justify-content: flex-end;
  }
  #site-header .menu .box-wrapper section.accordion div:hover ul:not(ul ul) {
    visibility: visible;
    opacity: 1;
    z-index: 1;
  }
  #site-header .menu .box-wrapper section.accordion div span:not(ul span) {
    padding: 12px;
  }
  #site-header .menu .box-wrapper section.accordion div span:not(ul span)::after {
    all: unset;
  }
  #site-header .menu .box-wrapper section.accordion div ul:not(ul ul) {
    visibility: visible;
    opacity: 1;
  }
  #site-header .menu .box-wrapper section.accordion div ul:not(ul ul) {
    transition-property: opacity;
    transition-duration: 1000ms;
    transition-delay: 100ms;
    display: grid !important;
    border-radius: 1rem;
    box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.07);
    padding: 24px 20px;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    grid-auto-flow: column;
    background-color: white;
  }
  #site-header .menu .box-wrapper section.accordion div ul:not(ul ul) li:not(ul li) {
    padding: 10px;
  }
  #site-header .menu .box-wrapper section.buttons {
    padding: 0;
    border: none;
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
  #site-header .menu .box-wrapper section.buttons button.btn {
    padding: 10px 24px;
    margin: 0;
  }
  #container section:not(#intro) {
    max-width: 900px;
  }
}
/*@media screen and ( min-width: 1200px ) */